/* PAGE HOME.HTML */

.buttons {
	text-align: center;
}
header {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/pictures/photohome.jpg");
	height: 20vh;
	background-size: cover;
	background-position: center;
	margin-top: 0px;
	
}
body {
		font-family: 'Varela Round', sans-serif;
		font-size: 15px; /*cela modifie la taille pour la page sites aussi */
	}
	
	ul li.nav-item a{
	color: #ffffff;
}
	
	ul li.active a{
	background-color: #fff;
	color: #000000;
}

body.body-home {
   no-repeat center center fixed; 
  -webkit-background-size: center;
  -moz-background-size: center;
  -o-background-size: center;
  background-size: center;
  margin: 10;
  padding: 0;
  background-color: #ffffff;
  height: 70vh;
  font-size: 14px;
}

 
/*for full screen landing page*/
html,body{margin: 0;padding: 0; width: 100%; height: 100%;}
 
.wrapper{top:-30px;
    position: relative;
    width: 100%;
      height: 70%;
    background: url(../images/dark-full-hd-wallpaper-001.jpg);
    display: table;
    background-size: cover;
}
.wrapper .inner{
    
    display: table-cell;
    vertical-align: middle;
    widows: 100%;
    max-width: none;
}

.card {
	margin-bottom:40px;
}

/* pour centrer le texte dans le wrapper */
.content{
    text-align: center;
    max-width: 7000px;
    margin: 0 auto;
}


 
 /* pour le new */
.content h2{color: #ffffff;
      font-family: 'Raleway',sand-serif;
      text-shadow: 0 0 300px #000;
    font-size: 300%;
    text-align: center;
     
 }
 


/* PAGE SITE.HTML */
body.site-page {
	background: url("/pictures/22_climbing.jpg");
	no-repeat center center fixed;
	-webkit-background-size: center;
	-moz-background-size: center;
	-o-background-size: center;
	background-size: center;
	margin: 0;
	padding: 0;
	background-color: #17a2b8;
	height: 100vh;
	font-size: 14px;
	color: #566787;
	font-family: 'Roboto', sans-serif;
}


.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	margin: 30px auto;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}



.table-wrapper .btn {
	float: right;
	color: #333;
	background-color: #fff;
	border-radius: 3px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}

.table-wrapper .btn:hover {
	color: #333;
	background: #f2f2f2;
}


.table-wrapper .btn.btn-primary {
	color: #fff;
	background: #03A9F4;
}


.table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}


.table-title {
	color: #fff;
	background: #4b5366;
	padding: 16px 25px;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
} 


.table-filter .filter-group {
	float: right;
	margin-left: 5px;
}


.table-filter input, .table-filter select {
	height: 35px;
	border-radius: 3px;
	border-color: #ddd;
	box-shadow: none;
	box-sizing: content-box;
}



.table-filter {
	padding: 15px;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 10px;
}


.table-filter .btn {
	height: 50px;
}



.table-filter label {
	font-weight: 5px;
	margin-left: 10px;
}


.table-filter select, .table-filter input {
	display: inline;
	margin-left: 2px;
}


.table-filter input {
	width: 100px;
	display: inline;
}


.filter-group select.form-control {
	width: 90px;
}


.text-success {
	color: #10c469;
}

.text-info {
	color: #62c9e8;
}

.text-warning {
	color: #FFC107;
}

.text-danger {
	color: #ff5b5b;
}

.pagination {
	float: right;
	margin: 0 0 5px;
}

.pagination li a {
	border: none;
	font-size: 13px;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
}

.pagination li.active a {
	background: #9ce0fe;
}

.pagination li.active a:hover {
	background: #0397d6;
}

.pagination li.disabled i {
	color: #ccc;
}

.pagination li i {
	font-size: 16px;
	padding-top: 6px
}


/* PAGE EDITSITE.HTML */



#login-wraper {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 35%;
  left: 45%;
  margin-top: -185px;
  margin-left: -235px;
  padding: 25px;
  width: 700px;
  height: 650px;
  background: white;
  text-align: left;
}

.blue {
  color: #447fc8;
}




.navbar {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}


/* login form */
/* line 17,  */

.login-form legend {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
}



	
	========================
	
	
body.body-editForm { 
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/pictures/rock-climbing-e1483475838567.jpg");
   no-repeat center center fixed; 
  -webkit-background-size: center;
  -moz-background-size: center;
  -o-background-size: center;
  background-size: center;
  margin: 0 auto;
  padding: 0;
  background-color: #17a2b8;
  height: 70vh;
  font-size: 14px;
}

body.container {
	width: 100px;
	margin: 0 auto;
}

.h3 {
	font-size : 30px;
	
}

.panel-default {
opacity: 0.9;
margin-top: 10px;
}
.form-group.last { margin-bottom:10px; }

#login .container #login-row #login-column #login-box {
  margin-top: 40px;
  margin-bottom : 20px;
  max-width: 600px;
  height: 550px;
  border: 1px solid #9C9C9C;
  background-color: #FFFFFF;
  
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 30px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -5px;
}

/* PAGE SITEFORM.HTML */

body.formsite-page { 
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/pictures/shutterstock_288699440-Large.jpg");
   no-repeat center center fixed; 
  -webkit-background-size: center;
  -moz-background-size: center;
  -o-background-size: center;
  background-size: center;
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 50vh;
  font-size: 14px;
  width:100ppx;
  margin: 0 auto;
}

/* PAGE REGISTRATION.HTML */
body.registration-page {
	background: url("/pictures/655546-download-free-climb-wallpapers-1920x1080.jpg"); 
	no-repeat center center fixed;
	-webkit-background-size: center;
	-moz-background-size: center;
	-o-background-size: center;
	background-size: center;
	margin: 0;
	padding: 0;
	background-color: #17a2b8;
	height: 100vh;
	font-size: 14px;
	color: #566787;
	font-family: 'Roboto', sans-serif;
}

/* PAGE LOGIN.HTML */
#login-bg {
    min-height: 500px;
    background-color: #f5f5f5;
}

#login-bg-top {
    background-image: url('/pictures/Untitled.jpg');
    background-size: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 320px;
    display: block;
    text-align: center;
}

#login-bg-top h3 {
    color: #101010;
    text-align : center;
}

.logo-circle {
    background-image: url('/pictures/climbing-sv.nedilja_497x355.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 125px;
    width: 150px;
    height: 170px;
    margin-top: 50px;
    display: inline-block;
    border: 5px solid rgba(211,211,211,0.9);
}

.bg-content {
    text-align: center;
    padding-top: 50px;
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 40px;
    margin-bottom: 90px;
    background-color: #FFF;
    min-height: 300px;
}

.input-group {
    width: 100%;
}


/*PAGE LISTSECTOR.HTML */
.row jumbotron {
	height: 50px;

}