<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layoutconnecte">
<head>
<meta charset="utf-8" />
<title>Creation d'un secteur</title>
<link rel="stylesheet" type="text/css" href="../css/style.css"
	th:href="@{/css/style.css}" />
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div layout:fragment="content">
		<div class="body-editForm">
			<div class="container-fluid">
				<div class="row jumbotron">
					<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
					</div>
				</div>
			</div>
			<div class="container">
				<div id="login-wraper">
					<form th:action="@{/saveNewSector}" method="post">
						<br style="clear: both">
						<h3 style="margin-bottom: 25px; text-align: center;">CREATION
							D'UN NOUVEAU SECTEUR</h3>
						<div class="form-group">
							<label for="nameSite">Nom du site :</label><br> 
							<select name="nameSite" th:value="${sector.nameSite}">
								<option th:each="n : ${listNameSite}" th:text="${n.nameSite}"></option>
							</select>
						</div>
						<div class="form-group">
							<label for="nameSector">Nom du secteur :</label><br> <input
								type="text" name="nameSector" th:value="${sector.nameSector}"
								id="nameSector" class="form-control"> <span
								class="text-danger" th:errors="${sector.nameSector}"></span>
						</div>
						<div class="form-group">
							<label for="descriptionSector">Description du secteur :</label><br>
							<input type="text" name="descriptionSector"
								th:value="${sector.descriptionSector}" id="descriptionSector"
								class="form-control"> <span class="text-danger"
								th:errors="${sector.descriptionSector}"></span>
						</div>
						<button type="submit" id="submit" name="submit"
							class="btn btn-primary pull-right">Enregistrer</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>