<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8" />
<title>Modification d'un site</title>
<link rel="stylesheet" type="text/css" href="../css/style.css"
	th:href="@{/css/style.css}" />
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="col-md-8">
				<div class="form-area">
					<form th:action="@{/save}" method="POST">
						<br style="clear: both">
						<h3 style="margin-bottom: 25px; text-align: center;">MODIFICATION
							D'UN SITE</h3>
							<div class="form-group">
							<label for="siteId">Id du site:</label><br><label th:text="${site.siteId}"></label>
							<input type="hidden" name="siteId" th:value="${site.siteId}"
								id="siteId" class="form-control"> <span class="red"
								th:errors="${site.siteId}"></span>
						</div>
							
						<div class="form-group">
							<label for="nameSite">Nom du site:</label><br>
							<input type="text" name="nameSite" th:value="${site.nameSite}"
								id="nameSite" class="form-control"> <span class="red"
								th:errors="${site.nameSite}"></span>
						</div>
						<div class="form-group">
						<label for="type">Type du site:</label><br>
							<input type="text" class="form-control" id="type" name="type"
								placeholder="Type du site" th:value="${site.type}" required>
							<span class="red" th:errors="${site.type}"></span>
						</div>
						<div class="form-group">
							<label for="country">Orientation du site:</label><br> <select
								class="form-control" id="orientation" name="orientation"
								th:value="${site.orientation}" required>
								<option>Sud</option>
								<option>Sud Est</option>
								<option>Sud Ouest</option>
								<option>Est</option>
								<option>Ouest</option>
								<option>Nord</option>
								<option>Nord Est</option>
								<option>Nord Ouest</option>
							</select> <span class="text-danger" th:errors="${site.orientation}"></span>
						</div>
						<div class="form-group">
							<label for="country">Localisation du site:</label><br> <select
								class="form-control" id="country" name="country"
								th:value="${site.orientation}" required>
								<option>France</option>
								<option>Allemagne</option>
								<option>Italie</option>
								<option>Autriche</option>
								<option>Angleterre</option>
								<option>Belgique</option>
								<option>Autre</option>
							</select> <span class="text-danger" th:errors="${site.country}"></span>
						</div>
						<div class="form-group">
							<label for="sectorsNumber">Nombre de secteurs:</label><br>
							<input type="text" class="form-control" id="sectorsNumber"
								name="sectorsNumber" placeholder="Nombre de secteurs"
								th:value="${site.sectorsNumber}" required> <span
								class="red" th:errors="${site.sectorsNumber}"></span>
						</div>
						<div class="form-group">
						<label for="waysNumber">Nombre de voies:</label><br>
							<input type="text" class="form-control" id="waysNumber"
								name="waysNumber" placeholder="Nombre de voies"
								th:value="${site.waysNumber}" required> <span
								class="red" th:errors="${site.waysNumber}"></span>
						</div>
						<div class="form-group">
							<label for="cotation">Cotation du site :</label><br> <select
								class="form-control" id="cotation" name="cotation"
								th:value="${site.cotation}" required>
								<option value="3a">3a</option>
								<option value="3b">3b</option>
								<option value="3c">3c</option>
								<option value="4a">4a</option>
								<option value="4b">4b</option>
								<option value="4c">4c</option>
								<option value="5a">5a</option>
								<option value="5b">5b</option>
								<option value="5c">5c</option>
								<option value="6a">6a</option>
								<option value="6b">6b</option>
								<option value="6c">6c</option>
							</select> <span class="text-danger" th:errors="${site.cotation}"></span>
						</div>
						<button type="submit" id="submit" name="submit"
							class="btn btn-primary pull-right">Enregistrer</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>