<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Esca'pad Site communautaire Escalade Outdoor</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link href="/css/style.css" rel="stylesheet">

</head>
<body>
	<header>
		<!-- Navigation -->
		<nav class="navbar my-nav navbar-expand-md sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive">
					<span class="navbar-toggler-icon"> </span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar nav ml-auto">
						<li class="active"><a class="nav-link" href="#">ACCUEIL</a></li>
						
						<li class="nav-item"><a class="nav-link" th:href="@{/sites}">SITES</a></li>
						<li class="nav-item"><a class="nav-link" href="#">A
								PROPOS</a></li>
						<li class="nav-item"><a class="nav-link" href="#">CONTACT</a></li>

						<li class="dropdown"><a href="#" id="drop1"
							data-toggle="dropdown" class="dropdown-toggle" role="button">MON COMPTE<b class="caret"></b>
						</a>
							<ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
								<li role="presentation"><a href="#" role="menuitem">Informations</a></li>
								<li role="presentation"><a href="#" role="menuitem">Mes
										topos</a></li>
								<li role="presentation"><a href="#" role="menuitem">Emprunts</a></li>
								<li role="presentation"><a th:href="@{/Login?Logout}" role="menuitem">Déconnexion</a></li>
							</ul></li>


					</ul>
				</div>
			</div>
		</nav>

		<div class="wrapper">
			<div class="inner">
				<div class="content">
					<h2>NEW</h2>
					<p>Vous trouverez les tous derniers topos ajoutes ! Venez le
						decouvrir</p>
					<button class="btn btn-danger btn-lg">Cliquez ici</button>
				</div>
			</div>
		</div>
		  
		<div class="container-fluid padding">
			<div class="row padding">
				<div class="col-md-4">
					<div class="card">
						<img class="card-imd-top" src="/pictures/beginners-guide-rock-climbing_WATCH.jpg">
						<div class="card-body">
							<h4>La grande Rocheuse</h4>
							<a href="#" class="btn btn-outline-secondary" >Decouvrir</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-imd-top" src="/pictures/f2-02-belvedere-climbing-arco-360gardalife.jpg">
						<div class="card-body">
							<h4>Canyon Bay</h4>
							<a href="#" class="btn btn-outline-secondary">Decouvrir</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="card">
						<img class="card-imd-top" src="/pictures/falaises-d-etretat.jpg">
						<div class="card-body">
							<h4>Etretat</h4>
							<a href="#" class="btn btn-outline-secondary">Decouvrir</a>
						</div>
					</div>
				</div>
			
			</div>
		</div>
		
		
		

		<!--- Jumbotron -->


		<!--- Welcome Section -->


		<!--- Three Column Section -->


		<!--- Two Column Section -->


		<!--- Fixed background -->


		<!--- Emoji Section -->


		<!--- Meet the team -->


		<!--- Cards -->


		<!--- Two Column Section -->


		<!--- Connect -->


		<!--- Footer -->



	</header>
</body>
</html>


