<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Responsive Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
       <header1>
		<!-- Navigation -->
		<nav class="navbar my-nav navbar-expand-md sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive">
					<span class="navbar-toggler-icon"> </span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar nav ml-auto">
						<li class="active"><a class="nav-link" th:href="@{/home}">ACCUEIL</a></li>

						<li class="nav-item"><a class="nav-link" th:href="@{/sites}">SITES</a></li>
						<li class="nav-item"><a class="nav-link" href="#">TOPOS</a></li>
						<li class="nav-item"><a class="nav-link" href="#">RECHERCHE</a></li>
					</ul>

					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">MON COMPTE</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" th:href="@{/login}">Connexion</a> <a
								class="dropdown-item" th:href="@{/RegistrationForm}">Créer un compte</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
       
   </header1>
<section layout:fragment="content"></section>

<footer class="navbar-fixed-bottom">
<div>
<p>Esca'pad 2019</p>
</div>
</footer>
</body>
</html>