<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Se connecter</title>
<link href="/css/style.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body> <section id="login-bg">
    <div id="login-bg-top">
        <div class="logo-circle"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    
    <div class="container">
        <div class="col-md-12">
        <h3>Veuillez-vous connecter !</h3>
            <div class="bg-content">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                </div>
                
                <div class="input-group" style="margin-top: 10px">
                  <input type="text" class="form-control" placeholder="Mot de passe" aria-describedby="basic-addon1">
                </div>
                
                <div class="input-group" style="margin-top: 50px;">
                  <a href="#" class="btn btn-success btn-lg">SE CONNECTER</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>