<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Se connecter</title>
<link href="/css/style.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link href="/css/style.css" rel="stylesheet">
</head>
<body> 

		<!-- Navigation -->
		<nav class="navbar my-nav navbar-expand-md sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive">
					<span class="navbar-toggler-icon"> </span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar nav ml-auto">
						<li class="active"><a class="nav-link" href="#">ACCUEIL</a></li>

						<li class="nav-item"><a class="nav-link" th:href="@{/sites}">SITES</a></li>
						<li class="nav-item"><a class="nav-link" href="#">TOPOS</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/searchForm}">RECHERCHE</a></li>
					</ul>

					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">MON COMPTE</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" th:href="@{/login}">Connexion</a> <a
								class="dropdown-item" th:href="@{/RegistrationForm}">Créer un compte</a>
						</div>
					</div>
				</div>
			</div>
		</nav>


<section id="login-bg">
    <div id="login-bg-top">
        <div class="logo-circle"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    
    <div class="container">
        <div class="col-md-12">
        <h3>Veuillez-vous connecter !</h3>
            <div class="bg-content">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                </div>
                
                <div class="input-group" style="margin-top: 10px">
                  <input type="text" class="form-control" placeholder="Mot de passe" aria-describedby="basic-addon1">
                </div>
                
                <div class="input-group" style="margin-top: 50px;">
                  <a href="#" class="btn btn-success btn-lg">SE CONNECTER</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>