<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8" />
<title>Création d'un nouveau compte</title>
<link rel="stylesheet" type="text/css" href="../css/style.css"
	th:href="@{/css/style.css}" />
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<div th:replace="fragments/header :: header"></div>
<div layout:fragment="content">
<div class="body-editForm">
	<div class="container-fluid">
	<div class="row jumbotron">
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
	</div>
	</div>
	</div>
		<div class="container">
			<div id="login-wraper">
					<form th:action="@{/memberSave}" method="POST">
						<legend>
						CREATION <span class="blue">D'UN NOUVEAU COMPTE</span>
					</legend>
						<div class="form-group">

							<label>Pseudo:</label> <input class="form-control" type="text"
								name="pseudo" required placeholder="Entrez votre pseudo"
								th:value="${member.pseudo}"><span class="text-danger"
								th:errors="${member.pseudo}"></span>
						</div>
						<div class="form-group">
							<label>Email:</label> <input class="form-control" type="email"
								name="email" required placeholder="Entrez votre email"
								th:value="${member.email}"><span class="text-danger"
								th:errors="${member.email}"></span>
						</div>
						<div class="form-group">
							<label>Mot de passe:</label> <input class="form-control"
								type="password" name="passWord" required
								placeholder="Entrez votre mot de passe"
								th:value="${member.passWord}"><span class="text-danger"
								th:errors="${member.passWord}"></span>
						</div>

						<button type="submit" id="submit" name="submit"
							class="btn btn-primary pull-right">Enregistrer</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>